{% extends "base.tmpl.html" %}
{% block cdn %}
<style>
    html,body{height:100%;}
</style>

{% endblock %}

{% block content %}
    <div id="result-list" class="row">

    </div>
    <div class="row justify-content-center h-100">
        <div class="col-md-12">
            {% include "image_view.tmpl.html" %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="/static/api.js"></script>
<script>

    function queryCallback(e){
        $("#result-list").html("");
        let cid = 0;
        e.forEach((elem)=>{
            let t = createImageCard(elem.location, elem.thumbnail, cid);
            $("#result-list").append(t);
            $("#submit-" + cid).on("click", function(){
                submitResult(elem.location.movie, elem.location.frame_pos)
            });
            
            cid ++;
        });
        updateImageGrid(e);
    }

    $( document ).ready(function() {
        $("#btn-query").on("click", function(){
            queryDatabase($("#query-string").val(), queryCallback);
        })
    });


</script>
{% endblock %}
